@model IEnumerable<Hoan_BarcodeReader.Models.BarCode_Of_Reader_Card>

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display2</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MSSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MSSV)
            </td>
            <td>
                <img src="~/images/@item.ImageUrl" style ="width: 200%" />
@*                @Html.DisplayFor(modelItem => item.Barcode)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
